* {
    margin: 0;
    padding: 0;
    color: rgb(85, 84, 84);
}


body {
    background-color: rgb(236, 233, 233);
    font-family: 'Barlow', sans-serif;
    font-weight: 300;

}

/* NAVBAR */

.current { color: rgb(225, 226, 183);  } 

.nav-wrapper {
    position: relative;
    height: 40vh;
    background-image: url('../assets/imgs/banner.png');
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: right;
    /* border: 1px solid red; */
}

.dark-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

nav ul {
    text-decoration-style: none;
    margin-right: 4%;
    /* border: 1px solid red; */

}

nav ul li {
    display: inline-block;  
    margin: 1% 2% 0;
}

ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#dropdownMenu2 { color: white }

ul li a:hover, .dropdown button:hover {
    text-decoration: none;
    color: rgb(219, 213, 213);  
}

.dropdown-item a {
    color: grey;
}





/* Container */

.main-container {
    padding: 6% 15%;
    width: 100%;
    margin: 0% auto;
}

h2, h1 {
    text-align: center;
    margin-bottom: 3%;
}

.titles-accordion {
    font-size: 1.4rem;
    
}



.titles-accordion:hover {
    text-decoration: none;
}

.main-container p {
    margin: 2% 0;
    font-size: 1.1rem;
}


.read-more-button {
    margin: 2% 0;
}

/* TABLE */

table { text-align: center; }

.tablehead {
    font-weight: bold;
}

.tablehead td {
    padding-bottom: 2%;
    font-weight: bold;
}

ul.tablerow {
    display: flex;
    justify-content: space-evenly;
}

ul.tablerow li {
    list-style-type: none;
    width: 30%;
    text-align: center;
    overflow: hidden;
}

/* END CUSTOM TABLE */



th, td { 
    width: 12%;
    overflow: hidden;
}

/* footer */

footer {
    height: 30vh;
    background-color: grey;
}


/* FILTERs */

.zero-results-box {
    border: 1px solid rgb(197, 190, 190);
    margin: 5% auto;
    text-align: center;
}

.filter {
    border: 1px solid rgb(197, 190, 190);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3%;
    margin: 7% auto 5%;
    border-radius: 18px;
    width: 80%;
    position: relative;
}

.filter-chamber::before {
    content: "FILTER BY CHAMBER";
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}

.filter-statistic-type::before {
    content: "FILTER BY TYPE OF STATISTIC";
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}

.filter-section::before {
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}


.filter-section:first-of-type::before { content: "FILTER BY PARTY"; }

.filter-section:nth-of-type(2)::before { content: "FILTER BY STATE"; }


.filter-section div {
    position: relative;
    top: 5px;
}



hr {
    margin: 5% 0;
}

.filter-statistic-type div {
    width: 24%;
    text-align: center;
}

.filter-statistic-type input {
    margin-right: 4%;
    position: relative;
    top: -1px;
}



/* loader */

.lds-circle {
    display: inline-block;
    text-align: center;
    padding-top: 25%;
    transform: translateZ(1px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 246, 248, 0.95);
    z-index: 500;
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: rgb(75, 115, 226);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }




  .hide-me { display: none; }



  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 2;
    background-color: grey;
    text-align: center
}

.sticky ul {
    margin-right: 0;
}

.sticky ul li {
    margin: 0 5%;
    /* border: 1px solid red; */
    position: relative;
    top: 15px;
    transition: all .2s ease-out;
}

.dropdown-menuu{
    display: inline-block;
    color: white;
    position: relative;
    top: -3px;
    /* border: 1px solid black; */
}



.backToTop {
    /* border: 1px solid red; */
    background-color: rgb(0, 17, 255);
    position: fixed;
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
    right: 4%;
    bottom: 5%;
}

.backToTop a {
    text-decoration: none;
    color: white
}

  


