* {
    margin: 0;
    padding: 0;
    color: rgb(85, 84, 84);
}


body {
    background-color: rgb(236, 233, 233);
    font-family: 'Barlow', sans-serif;
    font-weight: 300;

}

/* NAVBAR */

.current { color: rgb(135, 145, 145);  } 

.nav-wrapper {
    position: relative;
    height: 40vh;
    background-image: url('../assets/imgs/banner.png');
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.dark-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

nav ul {
    text-decoration-style: none;
    margin-right: 4%;
}

nav ul li {
    display: inline-block;  
    margin: 2%;
}

ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#dropdownMenu2 { color: white }

ul li a:hover, .dropdown button:hover {
    text-decoration: none;
    color: rgb(219, 213, 213);  
}

.dropdown-item a {
    color: grey;
}





/* Container */

.main-container {
    padding: 6% 15%;
    width: 100%;
    margin: 0% auto;
}

h2, h1 {
    text-align: center;
    margin-bottom: 3%;
}

.titles-accordion {
    font-size: 1.4rem;
    
}



.titles-accordion:hover {
    text-decoration: none;
}

.main-container p {
    margin: 2% 0;
    font-size: 1.1rem;
}


.read-more-button {
    margin: 2% 0;
}

/* TABLE */

table { text-align: center; }

th, td { 
    width: 12%;
    overflow: hidden;
}

/* footer */

footer {
    height: 30vh;
    background-color: grey;
}


/* FILTERs */

.zero-results-box {
    border: 1px solid rgb(197, 190, 190);
    margin: 5% auto;
    text-align: center;
}

.filter {
    border: 1px solid rgb(197, 190, 190);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3%;
    margin: 7% auto 5%;
    border-radius: 18px;
    width: 80%;
    position: relative;
}

.filter-chamber::before {
    content: "FILTER BY CHAMBER";
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}

.filter-statistic-type::before {
    content: "FILTER BY TYPE OF STATISTIC";
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}

.filter-section::before {
    position: absolute;
    top: -18%;
    background-color: rgb(236, 233, 233);
    padding: 0 5%;
}


.filter-section:first-of-type::before { content: "FILTER BY PARTY"; }

.filter-section:nth-of-type(2)::before { content: "FILTER BY STATE"; }


.filter-section div {
    position: relative;
    top: 5px;
}


.hide-me { display: none; }

hr {
    margin: 5% 0;
}

.filter-statistic-type div {
    width: 24%;
    text-align: center;
}

.filter-statistic-type input {
    margin-right: 4%;
    position: relative;
    top: -1px;
}