* {
    margin: 0;
    padding: 0;
    color: rgb(85, 84, 84);
    /* background-color: rgb(237, 241, 232); */
}


body {
    background-color: rgb(236, 233, 233);
    /* border: 1px solid red; */
    font-family: 'Barlow', sans-serif;
    font-weight: 300;

}
/* NAVBAR */

.current { color: rgb(135, 145, 145);  } 

.nav-wrapper {
    position: relative;
    height: 40vh;
    background-image: url('../assets/imgs/banner.png');
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.dark-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

nav ul {
    text-decoration-style: none;
    margin-right: 4%;
}

nav ul li {
    display: inline-block;  
    margin: 2%;
}

ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#dropdownMenu2 { color: white }


/* .grey { color: grey } */

ul li a:hover, .dropdown button:hover {
    text-decoration: none;
    color: rgb(219, 213, 213);  
}

.dropdown-item a {
    color: grey;
}





/* Container */

.main-container {
    padding: 6% 15%;
    /* border: 1px solid red; */
    width: 100%;
    margin: 0% auto;
}

h2 {
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 2%;
}

.titles-accordion {
    font-size: 1.4rem;
    
}



.titles-accordion:hover {
    text-decoration: none;
}

.main-container p {
    margin: 2% 0;
    font-size: 1.1rem;
    /* border: 1px solid red; */
    /* text-indent: 5%;; */
}


.read-more-button {
    margin: 2% 0;
}

/* TABLE */

table { text-align: center; }

th, td { width: 12%}



/* footer */

footer {
    height: 30vh;
    background-color: grey;
}





/* FILTERs */

.filter-section {
    border: 1px solid rgb(197, 190, 190);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3%;
    margin: 7% auto 5%;
    border-radius: 18px;
    width: 80%;
}

/* .filter-section h4 {
    width: 100%;
    border: 1px solid red;
    position: relative;
    top: -1%;

} */

.filter-section div {
    /* border: 1px solid red; */
    position: relative;
    top: 5px;
}


.hide-me {
    display: none;
}