<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400&display=swap" rel="stylesheet">
</head>

<body>
    <div id='root'>
    <div class="nav-wrapper">
        <div class="dark-cover"></div>
        <nav id="menu">
            <ul >
                <li><a href="index.html" >Home</a></li>
                <li class="dropdown-li">
                    <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown-menuu"> Congress 113 </span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="senate.html"><button class="dropdown-item" type="button">Senate</button></a>
                        <a href="representatives.html"><button class="dropdown-item" type="button">House</button></a>
                    </div>
                    </div>
                </li>
                <li><a href="statistics.html" class="current">Statistics</a></li>
            </ul>
        </nav>  
    </div>

    <div class="main-container" >
        <h1>Statistics</h1>
        <section class="filter filter-chamber">
            <select  name="chamber" id="party-attendance" v-on:change="updateDataStatistics($event)">
                <option value="senate" selected=true>Senate</option>
                <option value="house">House</option>
            </select>
        </section>   
        <h2>{{ chamber[0].toUpperCase() + chamber.slice(1) }} at a Glance</h2>
        <div class="table-container"> 
            <div class="tablehead">
                <ul class="tablerow">
                    <li scope="col">Party </li>
                    <li scope="col">No. of Reps</li>
                    <li scope="col">% Voted by the Party</li> 
                </ul>
            </div>
            <div class="tablebody"> 
                <ul class="tablerow">
                    <li>
                        Democrats
                    </li>
                    <li>
                        {{ democrats.length }}
                    </li>
                    <li>
                        {{ percentageVotedDemocrats }}
                    </li>   
                </ul>
                <ul class="tablerow">
                    <li>
                        Republicans
                    </li>
                    <li>
                        {{ republicans.length }}
                    </li> 
                    <li>
                        {{ percentageVotedRepublicans }}
                    </li>
                </ul>
                <ul class="tablerow">
                    <li>
                        Independents
                    </li>
                    <li>
                        {{ independents.length }}
                    </li> 
                    <li>
                        {{ percentageVotedIndependents }}
                    </li>
                </ul>
                <ul class="tablerow">
                    <li>
                        Total
                    </li>
                    <li>
                        {{ members.length }}
                    </li> 
                    <li>
                        {{ totalPercentage }}
                    </li>

                </ul>
            </div>   
        </div>  

        <hr>

        <section class="filter filter-statistic-type">
            <div>
                <input v-on:click="updateDataStatistics($event)" type="radio" name="statistic" value="attendance" checked=true>Attendance
            </div>
            <div>
                <input v-on:click="updateDataStatistics($event)" type="radio" name="statistic" value="loyalty"> Loyalty
            </div>
        </section> 

        <div v-if='statistic == "attendance"' >
        <section id="attendance-tables">
            <h2>Least Engaged</h2>
            <div class="table-container"> 
                <div class="tablehead">
                    <ul class="tablerow">
                        <li>Name</li>
                        <li>No. of Missed Votes</li>
                        <li>% Missed</li> 
                    </ul>
                </div>

                <div class="tablebody">
                    <ul class="tablerow" v-for='member in engagement.leastEngaged'>
                        <li>
                           {{ member.fullName }}
                        </li>
                        <li>
                            {{ member.missedVotes }}
                        </li>
                        <li>
                            {{ member.missedVotesPercentage }}
                        </li>
                    </ul>
                </div>                
            </div>  
            <hr>
            <h2>Most Engaged</h2>
            <div class="table-container"> 
                <div class="tablehead">
                    <ul class="tablerow">
                        <li>Name</li>
                        <li>No. of Missed Votes</li>
                        <li>% Missed</li> 
                    </ul>
                </div>
                <div class="tablebody">
                    <ul class="tablerow" v-for='member in engagement.mostEngaged'>
                        <li>
                            {{ member.fullName }}
                        </li>
                        <li>
                            {{ member.missedVotes }}
                        </li>
                        <li>
                            {{ member.missedVotesPercentage }}
                        </li>
                    </ul>
                </div>                
            </div>  
        </section>
        </div>

        <div v-else>
        <section id="loyalty-tables">
            <h2>Least Loyal</h2>
            <div class="table-container"> 
                <div class="tablehead">
                    <ul class="tablerow">
                        <li >Party</li>
                        <li >No. of Party Votes</li>
                        <li >% Party Votes</li> 
                    </ul>
                </div>
                <div class="tablebody">
                    <ul class="tablerow" v-for='member in loyalty.leastLoyal'>
                        <li>
                            {{ member.fullName }}
                        </li>
                        <li>
                            {{ member.votesWithParty }}
                        </li>
                        <li>
                            {{ member.votesWithPartyPercentage }}
                        </li>
                    </ul>
                </div>  
            </div>  
            <hr>
            <h2>Most Loyal</h2>
            <div class="table-container"> 
                <div class="tablehead">
                    <ul class="tablerow">
                        <li>Name</li>
                        <li>No. of Party Votes</li>
                        <li>% Party Votes</li> 
                    </ul>
                </div>
                <div class="tablebody">
                    <ul class="tablerow" v-for='member in loyalty.mostLoyal'>
                        <li>
                            {{ member.fullName }}
                        </li>
                        <li>
                            {{ member.votesWithParty }}
                        </li>
                        <li>
                            {{ member.votesWithPartyPercentage }}
                        </li>
                    </ul>
                </div>  
            </div>  
        </section>
        </div>
    </div>

    <footer></footer>

    <div v-if="loader" id="loader" class="lds-circle"><div></div></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>