<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400&display=swap" rel="stylesheet">
</head>

<body>
    <div id='root'>
    <div class="nav-wrapper">
        <div class="dark-cover"></div>
        <nav id="menu">
            <ul >
                <li><a href="index.html" >Home</a></li>
                <li class="dropdown-li">
                    <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown-menuu"> Congress 113 </span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="senate.html"><button class="dropdown-item" type="button">Senate</button></a>
                        <a href="representatives.html"><button class="dropdown-item" type="button">House</button></a>
                    </div>
                    </div>
                </li>
                <li><a href="statistics.html" class="current">Statistics</a></li>
            </ul>
        </nav>  
    </div>

    <div class="main-container" >
        <h1>Statistics</h1>
        <section class="filter filter-chamber">
            <select  name="chamber" id="party-attendance" v-on:change="fetchAndRenderData($event)">
                <option value="senate" selected=true>Senate</option>
                <option value="house">House</option>
            </select>
        </section>   
        <h2>{{ chamber[0].toUpperCase() + chamber.slice(1) }} at a Glance</h2>
        <table class="table-container"> 
            <thead class="tablehead">
                <tr class="tablero">
                    <td scope="col">Party </td>
                    <td scope="col">No. of Reps</td>
                    <td scope="col">% Voted by the Party</td> 
                </tr>
            </thead>
            <tbody class="tablebod"> 
                <tr class="tablero">
                    <td>
                        Democrats
                    </td>
                    <td>
                        {{ democrats.length }}
                    </td>
                    <td>
                        {{ votePercentageByParty(democrats) }}
                    </td>   
                </tr>
                <tr class="tablero">
                    <td>
                        Republicans
                    </td>
                    <td>
                        {{ republicans.length }}
                    </td> 
                    <td>
                        {{ votePercentageByParty(republicans) }}
                    </td>
                </tr>
                <tr class="tablero">
                    <td>
                        Independents
                    </td>
                    <td>
                        {{ independents.length }}
                    </td> 
                    <td>
                        {{ votePercentageByParty(independents) }}
                    </td>
                </tr>
                <tr class="tablero">
                    <td>
                        Total
                    </td>
                    <td>
                        {{ members.length }}
                    </td> 
                    <td>
                        {{ votePercentageByParty(members) }}
                    </td>

                </tr>
            </tbody>   
        </table>  

        <hr>

        <section class="filter filter-statistic-type">
            <div>
                <input v-on:click="fetchAndRenderData($event)" type="radio" name="statistic" value="attendance" checked=true>Attendance
            </div>
            <div>
                <input v-on:click="fetchAndRenderData($event)" type="radio" name="statistic" value="loyalty"> Loyalty
            </div>
        </section> 

        <div v-if='statistic == "attendance"' >
        <section id="attendance-tables">
            <h2>Least Engaged</h2>
            <table class="table-container"> 
                <thead class="tablehead">
                    <tr class="tablero">
                        <td>Name</td>
                        <td>No. of Missed Votes</td>
                        <td>% Missed</td> 
                    </tr>
                </thead>

                <tbody class="tablebody">
                    <tr class="tablero" v-for='member in leastEngaged'>
                        <td>
                           {{ member.first_name + " " + (member.middle_name || '') + " " + member.last_name }}
                        </td>
                        <td>
                            {{ member.missed_votes }}
                        </td>
                        <td>
                            {{ member.missed_votes_pct }}
                        </td>
                    </tr>
                </tbody>                
            </table>  
            <hr>
            <h2>Most Engaged</h2>
            <table class="table-container"> 
                <thead class="tablehead">
                    <tr class="tablerow">
                        <td>Name</td>
                        <td>No. of Missed Votes</td>
                        <td>% Missed</td> 
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <tr class="tablerow" v-for='member in mostEngaged'>
                        <td>
                            {{ member.first_name + " " + (member.middle_name || '') + " " + member.last_name }}
                        </td>
                        <td>
                            {{ member.missed_votes }}
                        </td>
                        <td>
                            {{ member.missed_votes_pct }}
                        </td>
                    </tr>
                </tbody>                
            </table>  
        </section>
        </div>

        <div v-else>
        <section id="loyalty-tables">
            <h2>Least Loyal</h2>
            <table class="table-container"> 
                <thead class="tablehead">
                    <tr class="tablerow">
                        <td >Party</td>
                        <td >No. of Party Votes</td>
                        <td >% Party Votes</td> 
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <tr class="tablerow" v-for='member in leastLoyal'>
                        <td>
                            {{ member.first_name + " " + (member.middle_name || '') + " " + member.last_name }}
                        </td>
                        <td>
                            {{ member.votesWithParty }}
                        </td>
                        <td>
                            {{ member.votes_with_party_pct }}
                        </td>
                    </tr>
                </tbody>  
            </table>  
            <hr>
            <h2>Most Loyal</h2>
            <table class="table-container"> 
                <thead class="tablehead">
                    <tr class="tablerow">
                        <td>Name</td>
                        <td>No. of Party Votes</td>
                        <td>% Party Votes</td> 
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <tr class="tablerow" v-for='member in mostLoyal'>
                        <td>
                            {{ member.first_name + " " + (member.middle_name || '') + " " + member.last_name }}
                        </td>
                        <td>
                            {{ member.votesWithParty }}
                        </td>
                        <td>
                            {{ member.votes_with_party_pct }}
                        </td>
                    </tr>
                </tbody>  
            </table>  
        </section>
        </div>
    </div>

    <footer></footer>

    <div v-if="loader" id="loader" class="lds-circle"><div></div></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>